**/*.classpath
**/*.iml
**/*.ipr
**/*.project
**/*.settings/*
**/*conf/*
**/*emma-result*
**/*foobar/*
**/*junit-result*
**/*log/*
**/*test-result*
**/bin/*
**/eclipse/*
**/lib/*
**/target/*
**/tmp/*
**/velocity.log
*.DS_Store
*.iml
*.iws
*.lock
*.log
*.log.?
*.swp
*~
.classpath
.clover/
.idea
.project
.settings
.settings/
/*.properties
/.idea/libraries
/.keystore
/.truststore
/build/
/dist/
/jmxremote.access
/jmxremote.password
/memory-dumps
/nbproject/
/patches/
dataSources.ids
datasources.*.xml
datasources.xml
dictionaries
preference.xml
rebel.xml
target/*
target/**/*
tasks.xml
workspace.xml